.detalle-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    color: #222;
    outline: 2px dashed red;
}

.detalle-container img {
    width: 100%;
    border-radius: 20px;
    margin: 20px 0; 
    padding: 10px;  
}

.detalle-container h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.detalle-container p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.mapa {
    margin-top: 25px;
    border-radius: 12px;
    overflow: hidden;
    width: 400px;
    height: 150px;
}

.container {
    display: flex;
    gap: 10px;
}