.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: sticky; /* sticky arriba */
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  color: #444;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-login {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-register {
  background-color: #d86d52;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.user-icon {
  font-size: 1.3em;
}
